@import '../../../styles/_variables';

.toggle-navbar {
    display: none;
}

.toggle-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;

    & div {
        position: relative;
        width:  calc(100%/2);
        background: white;
        border-radius: 2px;

        &::after, &::before {
            position: absolute;
            content: " ";
            width: 100%;
            transition: all 0.3s ease-out;
        }

        &::after {
            height: 3px;
            top: 10px;
            background-color: white;
            border-radius: 2px;
        }

        &::before {
            height: 3px;
            bottom: 10px;
            background-color: white;
            border-radius: 2px;
        }
    }
}

.toggle-button--close {
    & div {
        height: 3px;

        &::after {
            top: 10px;
        }

        &::before {
            bottom: 10px;
        }
    }
}

.toggle-button--open {
    & div {
        height: 0px;

        &::after, &::before {
            top:calc(100% / 2);
        }

        &::after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }
    }
}

.navbar-responsive {
    position: absolute;
    width: 100%;
    padding: 0px;
    top: 10vh;
    right: 0;
    text-align: center;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.9);
    border-top: 1px solid white;
    list-style: none; 
    

    &__link {
        padding: 20px;
        font-size: 1.5rem;
        
        & a {
            transition: all .2s ease-out;

            &:hover {
                color: $green-ghost;
            }
        }
    }

    &--open {
        display: block;
    }

    &--close {
        display: none;
    }
}

@media (max-width: 768px) {
    .toggle-navbar {
        display: flex;
    }
}