.toggle-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;

    & div {
        position: relative;
        width:  calc(100%/2);
        background: white;
        border-radius: 2px;

        &::after, &::before {
            position: absolute;
            content: " ";
            width: 100%;
            transition: all 0.2s ease-out;
        }

        &::after {
            height: 3px;
            top: 10px;
            background-color: white;
            border-radius: 2px;
        }

        &::before {
            height: 3px;
            bottom: 10px;
            background-color: white;
            border-radius: 2px;
        }
    }
}

.toggle-button--close {
    & div {
        height: 3px;

        &::after {
            top: 10px;
        }

        &::before {
            bottom: 10px;
        }
    }
}

.toggle-button--open {
    & div {
        height: 0px;

        &::after, &::before {
            top:calc(100% / 2);
        }

        &::after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }
    }
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }
}